{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('post_list') }}" method="get" class="search-form" enctype="multipart/form-data">
        <input type="search" name="search" value="{{ app.request.get('search') }}" class="search">
        <button class="btn btn-lg btn-primary" type="submit">Search</button>
    </form>

    <form action="{{ path('post_list') }}" method="get" class="filter-form" enctype="multipart/form-data">
        <input type="number" name="rating" value="{{ app.request.get('rating') }}">
        <input type="date" name="date" value="{{ app.request.get('date') }}">
        <button class="btn btn-lg btn-primary" type="submit">Filter</button>
    </form>


    {% for post in posts %}
        <table>
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td>
                <a href="{{ path('post_show', { 'id': post.id }) }}">show</a>
            </td>
            <td>
                <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
            </td>
            <td>
                <a href="{{ path('post_delete', { 'id': post.id }) }}">delete</a>
            </td>
        </tr>
        </table>
    {% endfor %}
{% endblock %}
