{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" class="main-form" action="#" enctype="multipart/form-data">
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.date) }}
        {{ form_row(form.image) }}
        <input type="submit" value="Save" />
        {{ form_widget(form._token) }}
    </form>
    <ul>
        <li>
            <a href="{{ path('post_list') }}">Cancel</a>
        </li>
    </ul>
{% endblock %}