{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>
    <div class="show">
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <p>{{ post.rating }}</p>
        <p>{{ post.date|date("Y-m-d") }}</p>
        <img src="/uploads/images/{{post.imageName}}" />
    </div>

    {% if is_granted("ROLE_USER") %}
        <div class="vote">
        {% if vote is defined %}
            <p>{{ vote.vote }}</p>
        {% else %}
            {% for i in 0..5 %}
                <a href="{{ path('post_vote', { 'postId': post.id, 'vote' : i }) }}">{{ i }}</a>
            {% endfor %}
        {% endif %}
        </div>

        <div class="add-comment">
            <form action="{{ path('post_comment', { 'postId': post.id }) }}" method="post" class="comment-form" enctype="multipart/form-data">
                <div class="comment-box">
                    <textarea  name="comment[content]" required="required"></textarea>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Add comment</button>
            </form>
        </div>

        <div class="comment">
            {% for comment in comments %}
                <p>{{ comment.content }}</p>
                {% if comment.children is defined %}
                    {% for reply in comment.children %}
                        <p>{{ reply.content }}</p>
                    {% endfor %}
                {% endif %}
                <form action="{{ path('post_comment', { 'postId': post.id, 'parentId' : comment.id }) }}" method="post" class="comment-form" enctype="multipart/form-data">
                    <div class="comment-box">
                        <textarea  name="comment[content]" required="required"></textarea>
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit">Add reply</button>
                </form>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}